{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
      
     {% endblock %}
{% endblock %}

{% block body %}
<div class="right_col" role="main" style="min-height: 478px;">

        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Les listes de diffusion </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>


   <table class='table'>
        <tr>
            <td> Nom </td>
            <td> Impact </td>
            <td> Metier </td>
            <td> Action </td>
        </tr>

         {% for mailingList in mailingLists %}
            <tr>
                <td> {{ mailingList[0].mailingListName }}</td>
                <td> {{ mailingList[0].impactLevel }}</td>
                <td> {{ mailingList[0].idMetier.nomMetier }}</td>
                <td>
                 <a class="btn btn-round btn-info" href="{{path('mailinglist_details',{'id' : mailingList[0].id })}}"> Détails </a>
                 <a class="btn btn-round btn-danger" href="{{path('mailinglist_delete',{'id' : mailingList[0].id })}}"> Supprimer </a>
                 <a class="btn btn-round btn-primary" href="{{path('mailinglist_update',{'id' : mailingList[0].id })}}"> Mettre à jour </a>
                 </td>
            </tr>
         {% endfor %}



   </table>


</p>

                  </div>
                </div>
              </div>
              </div>
</div>


{% endblock %}

    {% block javascripts %}
	    {% javascripts '@AppBundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
      {% endblock %}