{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.js"> </script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.css"/>
  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
      
     {% endblock %}

{% endblock %}

{% block body %}

<div class="right_col" role="main" style="min-height: 478px;">

        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Ajouter Incident <small>Décrire l'incident en Français</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                              
                      {% if success is defined %}
                        {% if success != null %}
                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                        {{  success }}                
                    </div>
			{%endif %}
		{%endif %}
		
                {% if errors is defined %}
                        {% if errors != null %}
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">

                                        <ul> 
                                        {% for error in errors %}
                                                <li> {{ error.message }} </li>
                                        {% endfor%}
                                        </ul>

                                    </div>
                {%endif %}
        {%endif %}
        
                    <h3> Général </h3>
                   
                        {{ form_start(formDeclarerIncident, { 'attr' : { 'id' : 'demo-form2', 'data-parsley-validate': '', 'class' : 'form-horizontal form-label-left', 'novalidate': ''  } }) }}
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Client <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          
                          {% if client is defined %}
                                {{ form_widget(formDeclarerIncident.client, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12',  'disabled' : 'true'} } )}}
                                {% else %}
                                {{ form_widget(formDeclarerIncident.client, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}} 
                           {% endif %}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Titre <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          
                          {{ form_widget(formDeclarerIncident.Titre, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}}
                        </div>
                      </div>
                      
                       <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Type de l'incident</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div id="gender" class="btn-group" data-toggle="buttons">
                                {{ form_widget(formDeclarerIncident.Type, { 'attr' : { 'class' : 'iCheck-helper'} } )}} 
                          </div>
                        </div>
                      </div>
                      

                      
                     
                      
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Debut de l'incident
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                         <table>
                                <tr>
                                <td style="width: 150px;"> Connue : Non {{ form_widget(formDeclarerIncident.ddiConnue, { 'attr' : { 'class' : 'js-switch','data-switchery' : 'true', 'style' : 'display : none'} } )}}  Oui   </td>
                                <td> {{ form_widget(formDeclarerIncident.DateDebut, { 'attr' : { 'class' : ''} } )}} </td>
                                
                                </tr>
                        </table>
                        </div>
                      </div>
                      
                      
                       
                       
                       
                      
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Durée approximative de résolution 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           {{ form_widget(formDeclarerIncident.dureeResolution,  { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12','placeholder' : 'Ex : 30 min, 1 heure, ...'} } )}}   
                        </div>
                      </div>
                        
                         <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Date Fin Incident 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <table>
                                <tr>
                                <td style="width: 150px;"> Connue : Non  {{ form_widget(formDeclarerIncident.dfiConnue, { 'attr' : { 'class' : 'js-switch','data-switchery' : 'true', 'style' : 'display : none'} } )}}  Oui   </td>
                                <td> {{ form_widget(formDeclarerIncident.DateFin, { 'attr' : { 'class' : '', 'required' : 'false'} } )}}   </td>
                                
                                </tr>
                        </table>
                        </div>
                      </div>
                         

                         
                         

                         
                            <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Description du l'incident 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(formDeclarerIncident.descTechnique, { 'attr' : { 'class' : 'form-control', 'rows' : '4'} } )}}
                        </div>
                      </div>
                            
                             <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Notes internes
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(formDeclarerIncident.notes, { 'attr' : { 'class' : 'form-control', 'rows' : '4'} } )}}
                        </div>
                      </div>
                             <hr class="half-rule"/>
                <h3> Impacts </h3>     
                        <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Impact <span class="required">*</span> </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form_widget(formDeclarerIncident.Impact, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}} 
                        </div>
                      </div>
                             
                         <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Date Debut Impact
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                                <table>
                                <tr>
                                <td style="width: 150px;"> Connue : Non  {{ form_widget(formDeclarerIncident.ddimConnue, { 'attr' : { 'class' : 'js-switch','data-switchery' : 'true', 'style' : 'display : none'} } )}}  Oui   </td>
                                <td> {{ form_widget(formDeclarerIncident.DateDebutImpact, { 'attr' : { 'class' : '', 'required' : 'false'} } )}}     </td>
                                
                                </tr>
                        </table>
                          
                        </div>
                      </div>
                        
                         <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Date Fin Impact
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                                 <table>
                                <tr>
                                <td style="width: 150px;"> Connue : Non  {{ form_widget(formDeclarerIncident.dfimConnue, { 'attr' : { 'class' : 'js-switch','data-switchery' : 'true', 'style' : 'display : none'} } )}}  Oui   </td>
                                <td> {{ form_widget(formDeclarerIncident.DateFinImpact, { 'attr' : { 'class' : '', 'required' : 'false'} } )}}   </td>
                                
                                </tr>
                        </table>
                          
                        </div>
                      </div>
                         
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Ressenti Utilisateur
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(formDeclarerIncident.ressentiUtilisateur, { 'attr' : { 'class' : 'form-control', 'rows' : '4'} } )}}
                        </div>
                      </div>
                             

                            
                             <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"> Type impact
                                </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="checkbox" id="tg-button" class="js-switch" checked="" data-switchery="true" style="display: none;"> Metier 

                        </div>
                        </div>
                            
                             <div class="form-group" id="impactApplication">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Impact Application 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(formDeclarerIncident.impactApplication, { 'attr' : { 'class' : 'select2_multiple form-control'} } )}}   
                        </div>
                      </div>
                            
                       
                                <div class="form-group"  id="impactMetier">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Impact Metier 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(formDeclarerIncident.impactMetier, { 'attr' : { 'class' : 'select2_multiple form-control'} } )}}   
                        </div>
                      </div>
                      
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <input type="submit" class="btn btn-success">
                        </div>
                      </div>
                     
                        {{ form_end(formDeclarerIncident) }}
                    
                  </div>
                </div>
              </div>
            </div>

</div>




{% endblock %}

    {% block javascripts %}
	    {% javascripts '@AppBundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
      {% endblock %}