<!DOCTYPE html>
<html> 
    <head> 
        <title>  </title>
        <style>
            /********************************************** Configuration Initiale *********************************************************/ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul li{
    list-style: none ;
    display: inline;
    margin-left: 20%;

}

html{
    background-color: #ddd;
    color: #555;
    font-family: 'Arial',sans-serif,'Lato';
    font-size: 15px;
    font-weight: 300;
    text-rendering: optimizeLegibility;

}



/************************************************** Reusable components **************************************************************/

header{
    border-bottom: 1px grey solid ;
}

.jauge{
    width: 30%;
}


.main-container{
    background-color: #fff;
    width: 50%;
    height: 100%;
    margin-top: 40px;
    margin-left: auto; 
    margin-right: auto;
    border: 1px black solid ;
    
   
    
}

td{
    height: 40px;
    border-bottom: 1px
}

.status-resolu{
    background-color: chartreuse;
    height: 10%;
    text-align: center;
    color: white;
    
}


.status-encours{
    background-color: orangered;
    height: 10%;
    text-align: center;
    color: white;
    
}


.impacts{
    text-align: center;
}

.client{
    width: 50%;
    text-align: center;
}


.mail-content{
    margin : 10px 10px 10px 10px ;

}

.mail-content h2{
text-align: center;
margin-bottom: 20px;

}

.logo{
    margin: 20px 0 20px 20px  ;
    width: 30%;
    height: auto;
}

.incident-info{
    width: 100%;
}



.incident-info : first-child{
    background-color: green;
    color: white;
}



.footer {
    background-color: rgb(231,54,20);
    color: white;
    margin-top: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}
            
        </style>
    
    </head>
    
    <body>
        <div class="main-container"> 
            <header> 
                 <img class="logo" src="http://img1.lesnumeriques.com/news/56/56759/cdiscount_logo.jpg"/>
                
            </header>
            
            <div class="mail-content">
                <h2> {{ incident.titre }} </h2>
                
              
                </table>
                
                <div> 
                
                    <table>
                        <tr>
                            <td class="client"> {{client.clientName}} </td>
                            <td class="status-resolu"> <b> {{incident.statut}} </b> </td>
                        </tr>
                        
                        <tr>
                            <td colspan="2">
                                Bonjour, <br> 
                                Nous recontrons actuellement un incident sur les metiers suivants :
                            </td>
                            
                        </tr>
                        
                         <tr> 
                        <th> Nom Metier </th>
                        <th> Niveau impact </th>
                        </tr>
                        {% for metier in metiers%}
                         <tr class="impacts"> 
                            <td> {{metier.nomMetier}} </td>
                            <td> <img class="jauge" src="http://www.navocap.com/custom/img/navocap/suivi-client-SAEIV.png"/> </td>
                        </tr>
                        {% endfor %}
     
                        <tr> 
                            <td> Temps de résolution approximatif :</td>
                            <td>  {{incident.dureeResolution}} </td>
                        </tr>
                        
                        <tr> 
                            <td> Date de début : </td>
                            <td>  {{incident.dateDebut | date("F jS \\a\\t g:ia") }} </td>
                        </tr>
                        
                         <tr> 
                            <td> Date de fin prévue : </td>
                            <td> {{ incident.dateFin | date("F jS \\a\\t g:ia")}} </td>
                        </tr>
                        
                        <tr> 
                            <td> Ressenti Utilisateur : </td>
                            <td> {{  incident.ressentiUtilisateur }} </td>
                        </tr>
                        
                         <tr> 
                            <td> Descriptions Techniques : </td>
                            <td> {{ incident.descTechnique }} </td>
                        </tr>
                        
                        
                       
                    </table>
                    
                    
                    
        
                </div>
                
            
            </div>
            
        <div class="footer">
            <ul> 
                <li> Logo  </li>
                <li> Link   </li>
                <li> Whatever  </li>
            </ul>
            
            <br> 
            
        
        </div>
        </div>
    </body>

</html>