$(document).ready(function(){
    
    var textInitial = $("#information_diffusion_contenu").val() ;
   
    $("#valider_filter").click(function(){
        
            $("#information_diffusion_variables").each(function(index) {
            $(this).children().each(function(){
            var itemID = $(this).children()[1].id ;
            var variableName = $(this).children()[1].id.replace("information_diffusion_variables_","");
            console.log(itemID);
            console.log(variableName);
            $("#information_diffusion_contenu").text($("#information_diffusion_contenu").val().replace(variableName,$("#" + itemID).val()));
        });
    }); 
        
        $("#reinitialiser").click(function(){
               $("#information_diffusion_contenu").text(textInitial); 
        }) ;
    })
    


})
