{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% endblock %}

{% block body %}

<div class="right_col" role="main" style="min-height: 478px;">

        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> {{ application.nomApplication }}   </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>




    <h3> Détails </h3>
    <b> Liaison Metier : </b> {{ application.metiers.get(0).nomMetier }} <br>
    <b> Statut : </b> {% if application.activationStatus %} Activée {% else %} Désactivée  {% endif %}
        
<p>
    Une fois cette application est impactés les listes de diffusions concernés sont : <br>
    {% for metier in application.metiers %}
            <h2> {{ metier.nomMetier}} </h2>
            {% for mailingList in metier.mailingLists %}
                {{mailingList.idMetier.nomMetier}}  <br>
            {% endfor %}
    {% endfor %}
  
</p>

                  </div>
                </div>
              </div>
        </div>
</div>



{% endblock %}

    {% block javascripts %}
	    {% javascripts '@AppBundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
      {% endblock %}
